/* ============================== HERO ============================== */
.hero {
    background: url(../assets/image/bg-hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0;
    height: 110dvh;
    width: 100%;
    box-shadow: 0 -86px 24.4px -60px var(--white) inset;
}

/* ============================== ABOUT ============================== */
.about .card-layout {
    overflow: visible;
}

.about .visi-misi-button {
    position: relative;
}

.about .visi-misi-button img {
    width: 30px;
}

.about .visi-misi-button:hover .tooltip {
    opacity: 1;
    transform: translateY(-10px);
}

.about .visi-misi-button .tooltip {
    position: absolute;
    bottom: 100%;

    opacity: 0;
    transform: translateY(10px);  /* SATU-SATUNYA transform */
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;

    background-color: var(--primary-700);
    color: var(--white);
    border-radius: var(--default-border-radius);
    text-align: justify;

    width: 212%;
    padding: 12px;
}

.visi-misi-group .col-6:first-child .visi-misi-button .tooltip {
    left: 0;
}

.visi-misi-group .col-6:last-child .visi-misi-button .tooltip {
    right: 0;
}

.about .about-bg-img {
    background: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 20%;
    height: 70dvh;
}

.about .about-bg-img:first-child {
    left: 0;
    border-radius: 0 var(--big-border-radius) var(--big-border-radius) 0;
}
.about .about-bg-img:last-child {
    right: 0;
    border-radius: var(--big-border-radius) 0 0 var(--big-border-radius);
}

/* ============================== MOTTO ============================== */
.motto {
    background: var(--primary-700);
    height: 60dvh !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.motto .blurry-circle {
    top: -17px;
    left: -360px;
}

.motto .dots-bg {
    top: -50;
    right: -18;
    z-index: -1;

}

/* ============================== GRUP BISNIS ============================== */
.grup-bisnis .card-layout {
    width: max-content;
}

.grup-bisnis .switch-button-grup-bisnis {
    white-space: nowrap;
}

.grup-bisnis .isi-grup-bisnis {
    box-shadow: var(--box-shadow);
    border-radius: var(--big-border-radius);
}

.grup-bisnis .judul-section-grup-bisnis {
    height: 80dvh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 59.18%, #FFF 93.64%), url(../assets/image/contoh-img.jpg) lightgray 50% / cover no-repeat;
}

.grup-bisnis .penjelasan-grup-bisnis .row {
    padding: 16px;
}

/* ============================== RUNNING TEXT ============================== */
.running-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.running-text::-webkit-scrollbar {
    display: none;
}

.running-text h3 {
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* ============================== FAQ ============================== */
.faq .accordian-button {
    color: var(--text-color);
    padding: 0 !important;
}


.faq .cta-faq .isi-cta-faq {
    background: var(--primary-50);
    padding: 16px;
    border-radius: var(--default-border-radius);
}

/* ============================== RESPONSIVE ======================================================================================================================== */

@media screen and (max-width: 1024px) {
    body {
        font-size: 70%;
    }
}

@media screen and (max-width: 991.5px) {
    .about {
        background: linear-gradient(180deg, #FFF 4.73%, rgba(255, 255, 255, 0.80) 100%), url(../assets/image/bg-hero-img.png) /* Ganti Imagenya JANGAN LUPA */ lightgray -251.919px 1.992px / 291.415% 134.467% no-repeat;
        background-size: cover;
        background-position: right;
    }

    .about .about-bg-img {
        display: none;
    }

    .faq .cta-faq {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    
    /* ============================== SLIDER ============================== */
    .portfolio-wrapper .portfolio-carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 768px) {
    
}
 
@media screen and (max-width: 600px) {
    
    /* ============================== SLIDER ============================== */
    .portfolio-wrapper .portfolio-carousel{
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 576px) {
    /* ============================== ABOUT ============================== */
    .about .heading-2, .about .body-p {
        text-align: left !important;
    }

    .about span.text-color-secondary  {
        display: block;
        text-align: left !important;
    }

    /* ============================== KEUNGGULAN ============================== */
    .keunggulan .keunggulan-card-group .col {
        position: absolute;
    }
}
 