/* ============================== HERO ============================== */
.hero {
    background: url(../assets/image/bg-hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0;
    height: 110svh;
    width: 100%;
    box-shadow: 0 -86px 24.4px -60px var(--white) inset;
}

/* ============================== ABOUT ============================== */
.about .card-layout {
    overflow: visible;
}

.about .visi-misi-button {
    position: relative;
}

.about .visi-misi-button img {
    width: 30px;
}

.about .visi-misi-button:hover .tooltip {
    opacity: 1;
    transform: translateY(-10px);
}

.about .visi-misi-button .tooltip {
    position: absolute;
    bottom: 100%;
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    background-color: var(--primary-700);
    color: var(--white);
    border-radius: var(--default-border-radius);
    text-align: justify;

    width: 212%;
    padding: 12px;
}

.visi-misi-group .col-6:first-child .visi-misi-button .tooltip {
    left: 0;
}

.visi-misi-group .col-6:last-child .visi-misi-button .tooltip {
    right: 0;
}

.about .about-bg-img {
    background: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 20%;
    height: 70dvh;
}

.about .about-bg-img:first-child {
    left: 0;
    border-radius: 0 var(--big-border-radius) var(--big-border-radius) 0;
}
.about .about-bg-img:last-child {
    right: 0;
    border-radius: var(--big-border-radius) 0 0 var(--big-border-radius);
}

/* ============================== MOTTO ============================== */
.motto {
    background: var(--primary-700);
    height: 60dvh !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.motto .blurry-circle {
    top: -17px;
    left: -360px;
}

.motto .dots-bg {
    top: -50;
    right: -18;
    z-index: -1;

}

/* ============================== KEUNGGULAN ============================== */
.keunggulan {
    padding-block: 60px;
}

.keunggulan .card-layout {
    align-items: start;
}

/* ============================== RUNNING TEXT ============================== */
.running-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.running-text::-webkit-scrollbar {
    display: none;
}

.running-text h3 {
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* ============================== GRUP BISNIS ============================== */
.grup-bisnis .switch-button-grup-bisnis {
    white-space: nowrap;
    grid-template-columns: repeat(3, 0fr);
    scroll-snap-align: start !important;
}

.switch-button-grup-bisnis::-webkit-scrollbar {
    display: none !important;
}

.grup-bisnis .switch-button-grup-bisnis .card-layout {
    width: max-content;
}

/* Masih sementara, nanti di-update  */
.grup-bisnis .switch-button-grup-bisnis .card-layout.active {
    background: var(--primary-700);
}

.grup-bisnis .isi-grup-bisnis {
    box-shadow: var(--box-shadow);
    border-radius: var(--big-border-radius);
}

.grup-bisnis .judul-section-grup-bisnis {
    height: 80dvh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 59.18%, #FFF 93.64%), url(../assets/image/contoh-img.jpg) lightgray 50% / cover no-repeat;
}

.grup-bisnis .penjelasan-grup-bisnis .row {
    padding: 16px;
}

/* ============================== PORTFOLIO ============================== */
.portfolio .isi-portfolio .portfolio-card-bento {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.portfolio .isi-portfolio .portfolio-card-bento:last-child {
    flex-wrap: wrap-reverse;
}

.portfolio .isi-portfolio .portfolio-card {
    background: var(--primary-50);
    flex: 1 0 200px;
    height: 250px;
    display: flex;
    align-items: end;
    border-radius: var(--default-border-radius);
    background: url(../assets/image/sida-tower.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: var(--default-duration);
}

.portfolio .isi-portfolio .portfolio-card:hover {
    transform: scale(1.02);
}

.portfolio .isi-portfolio .portfolio-card:hover  .portfolio-card-desc {
    bottom: 0;
}

.portfolio .isi-portfolio .portfolio-card:last-child {
    height: 200px;
}

.portfolio .isi-portfolio .portfolio-card .portfolio-card-desc {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -110px;
    background: radial-gradient(109.54% 73.32% at 7.26% 84.9%, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    color: var(--white);
    transition: var(--default-duration);
}

.portfolio .isi-portfolio .portfolio-card:last-child .portfolio-card-desc {
    width: 65%;
    bottom: -84px;
}

.portfolio .isi-portfolio .portfolio-card:last-child:hover .portfolio-card-desc {
    bottom: 0;
}

/* ============================== FAQ ============================== */
.faq .accordian-button {
    color: var(--text-color);
    padding: 0 !important;
}


.faq .cta-faq .isi-cta-faq {
    background: var(--primary-50);
    padding: 16px;
    border-radius: var(--default-border-radius);
}

/* ============================== RESPONSIVE ======================================================================================================================== */

@media screen and (max-width: 1024px) {
    body {
        font-size: 70%;
    }
}

@media screen and (max-width: 991.5px) {
    /* ============================== ABOUT ============================== */
    .about {
        background: linear-gradient(180deg, #FFF 4.73%, rgba(255, 255, 255, 0.80) 100%), url(../assets/image/bg-hero-img.png) /* Ganti Imagenya JANGAN LUPA */ lightgray -251.919px 1.992px / 291.415% 134.467% no-repeat;
        background-size: cover;
        background-position: right;
    }

    .about .about-bg-img {
        display: none;
    }
    
    .faq .cta-faq {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
}


@media screen and (max-width: 575.5px) {
    /* ============================== ABOUT ============================== */
    .about span.text-color-secondary  {
        display: block;
    }
    
    /* ============================== KEUNGGULAN ============================== */
    .keunggulan .keunggulan-card-group {
        padding-bottom: 80px;
    }

    .keunggulan .judul-keunggulan {
        position: sticky;
        top: 80px;
    }

    .keunggulan .keunggulan-card-group .col {
        position: sticky;
        top: 220px;
    }

    .keunggulan .keunggulan-card-group .col .card-layout {
        background: var(--white);
    }

    /* efek numpuk */
    .keunggulan .keunggulan-card-group .col:nth-child(1) {
        transform: translateY(0px);
        z-index: 1;
    }

    .keunggulan .keunggulan-card-group .col:nth-child(2) {
        transform: translateY(20px);
        z-index: 2;
    }

    .keunggulan .keunggulan-card-group .col:nth-child(3) {
        transform: translateY(40px);
        z-index: 3;
    }

    .keunggulan .keunggulan-card-group .col:nth-child(4) {
        transform: translateY(60px);
        z-index: 4;
    }

    .keunggulan .keunggulan-card-group .col:nth-child(5) {
        transform: translateY(80px);
        z-index: 5;
    }

    /* ============================== GRUP BISNIS ============================== */
    .grup-bisnis .switch-button-grup-bisnis .card-layout {
        width: 180px;
        text-wrap: wrap;
        text-align: left;
    }

   .grup-bisnis .card-layout .primary-tag{
       margin-bottom: 30px !important;
    }
}

@media screen and (max-width: 440px) {
    /* ============================== GRUP BISNIS ============================== */
    .grup-bisnis .heading-2 {
        width: 70%;
    }
    
}

@media screen and (max-width: 378px) {
    /* ============================== GRUP BISNIS ============================== */
    .grup-bisnis .heading-2 {
        width: 80%;
    }
}

@media screen and (max-width: 331px) {
    /* ============================== GRUP BISNIS ============================== */
    .grup-bisnis .heading-2 {
        width: 100%;
    }
}
 